---
import PageLayout from '@/layouts/CommonPage.astro'

const headings = [
  { depth: 2, slug: 'background', text: 'Background' },
  { depth: 2, slug: 'contact', text: 'Contact' }
]
---

<PageLayout title='About' {headings}>
  <p>
    I am a Software Engineer by trade based out of Toronto, Canada and currently working as a Senior Data Engineer at <a href='https://www.affirm.com/'>Affirm</a>.
    Previously, I have worked at{' '}
    <a href='https://www.faire.com/'>Faire</a>,{' '}
    <a href='https://pointclickcare.com/'>PointClickCare</a>,{' '}
    <a href='https://www.shopify.com/ca'>Shopify</a>,{' '}
    <a href='https://fitmyfoot.com/'>Wiivv Wearables</a>, and{' '}
    <a href='https://www.olx.com/'>OLX Classifieds</a>.
  </p>

  <h2 id='background'>Background</h2>
  <p>
    I completed my undergrad from NUST (National University of Sciences and Technology) in 2014 and
    moved to Dubai, UAE right after that for my first ever job at{' '}
    <a href='https://en.wikipedia.org/wiki/OLX'>OLX Classifieds</a>. While working there as a
    backend software engineer, I developed a keen interest in the world of data which brought me to
    Canada for a Masters in Computer Science from{' '}
    <a href='https://www.sfu.ca/'>Simon Fraser University</a>.
  </p>
  <p>
    My strong computer science and software engineering background that has transcended into data and
    machine learning engineering roles gives me a lot of perspective on how to merge software
    engineering practices in context of the latter. I am excited to share my perspective on how
    these two disciplines can work in tandem through this newsletter.
  </p>
  <p>
    With almost a decade in the industry working at various companies — from classifieds and
    e-commerce to 3D printing startups — I feel grateful to have learned and grown significantly
    both in my profession and as an individual. Navigating personal and professional challenges is
    tough to say the least, and these come with their own nuances.
  </p>
  <p>
    What's important is to have a growth mindset, which makes you overcome these challenges as you
    move along to bigger ones. While I am still and always learning, I have started this newsletter
    to share some of my professional and technical learnings and use it as a medium to channel my
    thoughts.
  </p>

  <h2 id='contact'>Contact</h2>
  <p>You can reach me on the following:</p>
  <ul>
    <li>
      LinkedIn: <a href='https://www.linkedin.com/in/mrafayaleem/'>linkedin.com/in/mrafayaleem</a>
    </li>
    <li>Twitter: <a href='https://twitter.com/mrafayaleem'>twitter.com/mrafayaleem</a></li>
    <li>Email: contact [at] mrafayaleem.com</li>
  </ul>
  <p>
    To get a faster reply via email, use the exact subject line{' '}
    <em>"16072023 Reaching Out For Working With You"</em>. I will get back to you within a week.
  </p>
</PageLayout>
